<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swg.mpandroidchartdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LineChartActivity1" />
        <activity android:name=".ui.LineChartActivity2" />
        <activity android:name=".ui.BarChartActivity" />
        <activity android:name=".ui.HorizontalBarChartActivity" />
        <activity android:name=".ui.CombinedChartActivity" />
        <activity android:name=".ui.PieChartActivity" />
        <activity android:name=".ui.PiePolylineChartActivity" />
        <activity android:name=".ui.ScatterChartActivity" />
        <activity android:name=".ui.BubbleChartActivity" />
        <activity android:name=".ui.StackedBarActivity" />
        <activity android:name=".ui.StackedBarActivityNegative" />
        <activity android:name=".ui.AnotherBarActivity" />
        <activity android:name=".ui.MultiLineChartActivity" />
        <activity android:name=".ui.BarChartActivityMultiDataset" />
        <activity android:name=".ui.SimpleChartDemo" />
        <activity android:name=".ui.ListViewBarChartActivity" />
        <activity android:name=".ui.ListViewMultiChartActivity" />
        <activity android:name=".ui.InvertedLineChartActivity" />
        <activity android:name=".ui.CandleStickChartActivity" />
        <activity android:name=".ui.CubicLineChartActivity" />
        <activity android:name=".ui.RadarChartActivitry" />
        <activity android:name=".ui.LineChartActivityColored" />
        <activity android:name=".ui.RealtimeLineChartActivity" />
        <activity android:name=".ui.DynamicalAddingActivity" />
        <activity android:name=".ui.PerformanceLineChart" />
        <activity android:name=".ui.BarChartActivitySinus" />
        <activity android:name=".ui.ScrollViewActivity" />
        <activity android:name=".ui.BarChartPositiveNegative" />
        <activity android:name=".ui.LineChartTime" />
        <activity android:name=".ui.FilledLineActivity" />
        <activity android:name=".ui.HalfPieChartActivity" />
        <activity android:name=".ui.AboutActivity" />
    </application>

</manifest>